body{
    padding:0;
    margin:0;
}
.login-form{
    width:35%;
    margin:auto;
    margin-top:15%;
    border:1px solid #ddd;
    padding:20px;
    box-sizing:border-box;
    box-shadow:1px 1px 10px #ddd;
}